<footer>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=664557723574154";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46516415-1', 'snapsecret.com');
    ga('send', 'pageview');
  </script>
  {{#with stats}}
    {{#if showStats}}
      <p class="numbers">{{totalSpilled}} secrets read by {{totalRead}} spies</p>
    {{/if}}
  {{/with}}
  <div class="social">
    <div class="fb-share-button" data-href="http://snapsecret.com" data-type="button_count"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://snapsecret.com" data-text="1/2 snapchat. 1/2 postsecret."></a>
    <a href="https://twitter.com/intent/tweet?button_hashtag=snappedsecret" class="twitter-hashtag-button">#snappedsecret</a>
  </div>
  {{#link-to 'what'}}uh, what?{{/link-to}}&nbsp;&sdot;
  {{#link-to 'terms'}}terms{{/link-to}}&nbsp;&sdot;
  {{#link-to 'privacy'}}privacy{{/link-to}}&nbsp;&sdot;
  {{#link-to 'use'}}acceptable use{{/link-to}}
</footer>