<h1>snapsecret provides a platform to safely share whatever is on your mind. to keep snapsecret running smoothly for all of our Users, you agree that you will use the Service only in a manner consistent with the following Acceptable Use Policy.</h1>
<h3>You agree not to post User Content that:</h3>
<ul>
  <li>is sexually explicit or pornographic;</li>
  <li>creates a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to yourself, to any other person, or to any animal;</li>
  <li>may create a risk of any other loss or damage to any person or property;</li>
  <li>seeks to harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details or otherwise;</li>
  <li>violates, or encourages any conduct that violates laws or regulations;</li>
  <li>contains any information or content we deem to be hateful, violent, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, or otherwise objectionable;</li>
  <li>contains any information or content that is illegal (including, without limitation, the disclosure of insider information under securities law or of another party's trade secrets);</li>
  <li>infringes any third party's Intellectual Property Rights, privacy rights, publicity rights, or other personal or proprietary rights;</li>
  <li>contains any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships; or</li>
  <li>is fraudulent, false, misleading, or deceptive.</li>
</ul>
<h3>You agree not to engage in any of the following prohibited activities:</h3>
<ul>
  <li>Collect or store any personally identifiable information from the Services from other users of the Services without their express permission;</li>
  <li>Impersonate or misrepresent your affiliation with any person or entity;</li>
  <li>Violate any applicable law or regulation;</li>
  <li>Encourage or enable any other individual to do any of the activities prohibited in this Acceptable Use Policy.</li>
</ul>
<h3>snapsecret reserves the right, but is not obligated, to remove any User Content for any reason or for no reason, including User Content that snapsecret believes violates this Acceptable Use Policy or its Terms of Service. snapsecret may also permanently or temporarily terminate or suspend a User, or their IP address, without notice and liability for any reason, including if, in snapsecret's sole determination, a User violates any provision of this Acceptable Use Policy, our Terms of Service, or for no reason.</h3>