<h1>uh, what?</h1>
<p>snapsecret is a website, that lets you post secrets. whatever is on your mind. leak away.</p>
<p>secrets can be seen by anyone who visits the site, but are posted anonymously, and 'self-destruct' after 1 minute.</p>